<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Shortener</title>
  <meta name="description" content="A URL shortener by Tim Fletcher">
  <meta name="author" content="Tim Fletcher">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Hammersmith+One&v2&text=cmprssr.us' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/screen.css')}}" type="text/css" media="screen" charset="utf-8">
</head>

<body>
  <div id="container">
    <header>
      <h1><a href="/">cmprssr.us</a></h1>
    </header>
    <div id="main">
      {% block main %}{% endblock %}
    </div>
    <footer>
      A webapp by <a href="http://timothyfletcher.com">Tim Fletcher</a>
    </footer>
  </div>
</body>
</html>